.env-indicator
  background: gray
  border-radius: 2px
  -webkit-border-radius: 2px
  top: 12px
  color: white
  right: 12px
  padding: 12px
  position: fixed
  text-transform: uppercase
.env-indicator.local
  background: #e03636
  color: white
.env-indicator.dev
  background: #31aaf3
  color: white
.env-indicator.cert
  background: #37b779
  color: white

.card
  margin: 20px
.card .card--button
  text-transform: uppercase
.card .card--image
  margin-top: auto
