<mat-toolbar>
  <span>Angular SSR Example</span>
</mat-toolbar>

<mat-card class="nav-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Compate SSR vs NON-SSR</mat-card-title>
    <mat-card-subtitle>Click on of these links</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a [href]="env.ssrURL" mat-button>Example with SSR</a>
    <a [href]="env.nonSSRURL" mat-button>Example without SSR</a>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
